.footer-container{
    margin-top: 10px;
    border-top: 3px solid whitesmoke;
}
.Box {
    width: 100%;
  }
  
  @media screen and (min-width: 30em) {
    .Box {
      width: 50%;
      background-color: brown;
    }
  }
  
  @media screen and (min-width: 48em) {
    .Box {
      width: 25%;
    }
  }